body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:129px;
  width:1280px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:299px;
  width:118px;
  height:118px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u3 {
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:433px;
  top:299px;
  width:118px;
  height:118px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u5 {
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:717px;
  top:295px;
  width:118px;
  height:118px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u7 {
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1000px;
  top:295px;
  width:118px;
  height:118px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u9 {
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:135px;
  top:443px;
  width:1000px;
  height:5px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:5px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-6px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:336px;
  top:335px;
  width:34px;
  height:38px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:38px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:621px;
  top:335px;
  width:34px;
  height:38px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:38px;
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:906px;
  top:335px;
  width:34px;
  height:38px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:38px;
}
#u17 {
  position:absolute;
  left:2px;
  top:11px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:164px;
  top:335px;
  width:89px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u19 {
  position:absolute;
  left:0px;
  top:-12px;
  width:89px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:448px;
  top:335px;
  width:89px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u21 {
  position:absolute;
  left:0px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:732px;
  top:335px;
  width:89px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u23 {
  position:absolute;
  left:0px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1014px;
  top:331px;
  width:89px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-10px;
  width:89px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:149px;
  top:468px;
  width:60px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4F81BD;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:103px;
  top:159px;
  width:225px;
  height:57px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:57px;
}
#u29 {
  position:absolute;
  left:0px;
  top:10px;
  width:225px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:164px;
  top:323px;
  width:89px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u31 {
  position:absolute;
  left:0px;
  top:-7px;
  width:89px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:323px;
  top:170px;
  width:637px;
  height:36px;
  color:#AEAEAE;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:36px;
}
#u33 {
  position:absolute;
  left:0px;
  top:10px;
  width:637px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:196px;
  top:468px;
  width:909px;
  height:188px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:188px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:905px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:196px;
  top:468px;
  width:909px;
  height:188px;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:188px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:905px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:10px;
  top:0px;
  width:1280px;
  height:130px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:130px;
}
#u40 {
  position:absolute;
  left:2px;
  top:57px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:20px;
  top:22px;
  width:130px;
  height:88px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:88px;
}
#u42 {
  position:absolute;
  left:2px;
  top:36px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:160px;
  top:48px;
  width:129px;
  height:37px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1117px;
  top:14px;
  width:60px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u46 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1209px;
  top:14px;
  width:60px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u48 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1091px;
  top:16px;
  width:26px;
  height:26px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1140px;
  top:86px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1000px;
  top:14px;
  width:53px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
