body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:410px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:96px;
  top:34px;
  width:281px;
  height:56px;
  line-height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:56px;
}
#u3 {
  position:absolute;
  left:0px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:48px;
  width:26px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:184px;
  top:100px;
  width:64px;
  height:25px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:298px;
  top:100px;
  width:64px;
  height:25px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
