body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:1264px;
  width:1280px;
  height:177px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:177px;
}
#u2 {
  position:absolute;
  left:2px;
  top:80px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:129px;
  top:1301px;
  width:103px;
  height:24px;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:263px;
  top:1295px;
  width:144px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:473px;
  top:1295px;
  width:118px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:263px;
  top:1321px;
  width:79px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:478px;
  top:1322px;
  width:66px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:648px;
  top:1295px;
  width:92px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:648px;
  top:1321px;
  width:92px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:124px;
  top:1347px;
  width:1012px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:995px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1012px;
  height:1px;
}
#u18 {
  position:absolute;
  left:402px;
  top:1367px;
  width:456px;
  height:34px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:34px;
}
#u19 {
  position:absolute;
  left:0px;
  top:9px;
  width:456px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:464px;
  top:1396px;
  width:1146px;
  height:34px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:34px;
}
#u21 {
  position:absolute;
  left:0px;
  top:9px;
  width:1146px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:1441px;
  width:1600px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:10px;
  top:1px;
  width:1280px;
  height:90px;
  color:#E4E4E4;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
}
#u26 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:154px;
  top:33px;
  width:361px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:18px;
  top:15px;
  width:126px;
  height:66px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:66px;
}
#u30 {
  position:absolute;
  left:2px;
  top:25px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:957px;
  top:51px;
  width:323px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u32 {
  position:absolute;
  left:0px;
  top:7px;
  width:323px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:841px;
  top:6px;
  width:157px;
  height:30px;
  color:#0099FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u34 {
  position:absolute;
  left:0px;
  top:7px;
  width:157px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1212px;
  top:5px;
  width:53px;
  height:30px;
  color:#0099FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u36 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1031px;
  top:12px;
  width:20px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1054px;
  top:12px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:1139px;
  top:12px;
  width:31px;
  height:16px;
  color:#0099FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1160px;
  top:0px;
  width:15px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:270px;
  top:100px;
  width:1020px;
  height:40px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:378px;
  top:109px;
  width:22px;
  height:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u48 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:400px;
  top:109px;
  width:120px;
  height:22px;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:289px;
  top:109px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:290px;
  top:150px;
  width:410px;
  height:20px;
  color:#0099FF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:2px;
  width:410px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1150px;
  top:150px;
  width:90px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:280px;
  top:180px;
  width:990px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:973px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:990px;
  height:1px;
}
#u59 {
  position:absolute;
  left:10px;
  top:100px;
  width:250px;
  height:1168px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:1168px;
}
#u60 {
  position:absolute;
  left:2px;
  top:576px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:190px;
  width:200px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u62 {
  position:absolute;
  left:20px;
  top:109px;
  width:97px;
  height:69px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:69px;
}
#u63 {
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:127px;
  top:100px;
  width:42px;
  height:32px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
}
#u65 {
  position:absolute;
  left:0px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:179px;
  top:169px;
  width:61px;
  height:16px;
  color:#00CCFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:110px;
  top:408px;
  width:105px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u69 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:80px;
  top:711px;
  width:20px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:110px;
  top:706px;
  width:53px;
  height:30px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u73 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:110px;
  top:736px;
  width:53px;
  height:30px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u75 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:110px;
  top:766px;
  width:53px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u77 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:110px;
  top:1165px;
  width:53px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u79 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:80px;
  top:1036px;
  width:20px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:110px;
  top:1031px;
  width:105px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u83 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:110px;
  top:1058px;
  width:27px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u85 {
  position:absolute;
  left:0px;
  top:7px;
  width:27px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:80px;
  top:1170px;
  width:20px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:10px;
  top:234px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:10px;
  top:371px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:10px;
  top:195px;
  width:250px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:88px;
  top:204px;
  width:22px;
  height:22px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u95 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:52px;
  top:280px;
  width:53px;
  height:16px;
  color:#009DDA;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:52px;
  top:311px;
  width:118px;
  height:16px;
  color:#009DDA;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:110px;
  top:1190px;
  width:53px;
  height:30px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u101 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:80px;
  top:413px;
  width:20px;
  height:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u103 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:10px;
  top:798px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:10px;
  top:1121px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:80px;
  top:1195px;
  width:20px;
  height:20px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:10px;
  top:663px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:80px;
  top:741px;
  width:20px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:80px;
  top:771px;
  width:20px;
  height:20px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:10px;
  top:988px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:80px;
  top:1063px;
  width:20px;
  height:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:10px;
  top:591px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:10px;
  top:627px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:10px;
  top:952px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:10px;
  top:555px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:114px;
  top:864px;
  width:53px;
  height:30px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u129 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:114px;
  top:885px;
  width:27px;
  height:30px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u131 {
  position:absolute;
  left:0px;
  top:7px;
  width:27px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:80px;
  top:842px;
  width:20px;
  height:20px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:104px;
  top:837px;
  width:53px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u135 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:94px;
  top:873px;
  width:15px;
  height:12px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u137 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:94px;
  top:894px;
  width:15px;
  height:12px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:80px;
  top:919px;
  width:20px;
  height:20px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:104px;
  top:915px;
  width:53px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u143 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:10px;
  top:1231px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:10px;
  top:335px;
  width:250px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
}
#u147 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:127px;
  top:131px;
  width:123px;
  height:32px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:110px;
  top:1083px;
  width:79px;
  height:30px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u151 {
  position:absolute;
  left:0px;
  top:7px;
  width:79px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:80px;
  top:1088px;
  width:20px;
  height:20px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u153 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:110px;
  top:461px;
  width:53px;
  height:30px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u155 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:80px;
  top:466px;
  width:20px;
  height:20px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:110px;
  top:488px;
  width:53px;
  height:30px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u159 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:80px;
  top:493px;
  width:20px;
  height:20px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:110px;
  top:518px;
  width:53px;
  height:30px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u163 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:80px;
  top:523px;
  width:20px;
  height:20px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:110px;
  top:433px;
  width:131px;
  height:30px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u167 {
  position:absolute;
  left:0px;
  top:7px;
  width:131px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:80px;
  top:438px;
  width:20px;
  height:20px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
