body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:51px;
  width:810px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:64px;
  top:67px;
  width:53px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:125px;
  top:67px;
  width:260px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4_input {
  font-family:'应用字体';
}
#u5 {
  position:absolute;
  left:45px;
  top:524px;
  width:760px;
  height:137px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:137px;
}
#u6 {
  position:absolute;
  left:2px;
  top:60px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:45px;
  top:524px;
  width:760px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5694E7;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:756px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:79px;
  top:575px;
  width:66px;
  height:23px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:460px;
  top:571px;
  width:66px;
  height:26px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
}
#u12 {
  position:absolute;
  left:0px;
  top:5px;
  width:66px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:145px;
  top:573px;
  width:225px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13_input {
  font-family:'应用字体';
}
#u14 {
  position:absolute;
  left:529px;
  top:571px;
  width:225px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14_input {
  font-family:'应用字体';
}
#u15 {
  position:absolute;
  left:79px;
  top:616px;
  width:66px;
  height:21px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:143px;
  top:616px;
  width:227px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17_input {
  font-family:'应用字体';
}
#u18 {
  position:absolute;
  left:280px;
  top:701px;
  width:159px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:474px;
  top:701px;
  width:159px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:433px;
  top:67px;
  width:105px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:4px;
  width:105px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:537px;
  top:67px;
  width:260px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24_input {
  font-family:'应用字体';
}
#u25 {
  position:absolute;
  left:48px;
  top:112px;
  width:66px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u26 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:124px;
  top:112px;
  width:260px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27_input {
  font-family:'应用字体';
}
#u28 {
  position:absolute;
  left:45px;
  top:154px;
  width:760px;
  height:137px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:137px;
}
#u29 {
  position:absolute;
  left:2px;
  top:60px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:45px;
  top:154px;
  width:760px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5694E7;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:37px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:756px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:678px;
  top:215px;
  width:100px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:45px;
  top:311px;
  width:760px;
  height:200px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:200px;
}
#u35 {
  position:absolute;
  left:2px;
  top:92px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:45px;
  top:311px;
  width:760px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5694E7;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:37px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:756px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:66px;
  top:358px;
  width:712px;
  height:133px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:133px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38_input {
  font-family:'应用字体';
}
#u39 {
  position:absolute;
  left:769px;
  top:535px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:24px;
  top:22px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:85px;
  top:201px;
  width:109px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:62px;
  top:206px;
  width:18px;
  height:16px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:769px;
  top:165px;
  width:15px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:472px;
  top:112px;
  width:66px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u50 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:538px;
  top:112px;
  width:260px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u51_input {
  font-family:'应用字体';
}
#u51_input:disabled {
  color:grayText;
}
