body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:610px;
  height:420px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:420px;
}
#u1 {
  position:absolute;
  left:2px;
  top:202px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:610px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:606px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:10px;
  width:5px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:81px;
  top:100px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:107px;
  width:60px;
  height:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:230px;
  top:107px;
  width:60px;
  height:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:291px;
  top:107px;
  width:60px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:351px;
  top:107px;
  width:60px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:411px;
  top:107px;
  width:60px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:471px;
  top:107px;
  width:60px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:356px;
  top:155px;
  width:65px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:82px;
  top:205px;
  width:449px;
  height:70px;
  overflow:hidden;
  visibility:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:4px;
  top:10px;
  width:436px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:19px;
  top:27px;
  width:247px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:82px;
  top:140px;
  width:431px;
  height:40px;
  overflow:hidden;
  visibility:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:5px;
  top:6px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:88px;
  top:13px;
  width:95px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:173px;
  top:13px;
  width:95px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:448px;
  top:155px;
  width:65px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
