body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:1px;
  width:1280px;
  height:90px;
  color:#E4E4E4;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
}
#u2 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:154px;
  top:33px;
  width:361px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:18px;
  top:15px;
  width:126px;
  height:66px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:66px;
}
#u6 {
  position:absolute;
  left:2px;
  top:25px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:957px;
  top:51px;
  width:323px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:7px;
  width:323px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:841px;
  top:6px;
  width:157px;
  height:30px;
  color:#0099FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:157px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1212px;
  top:5px;
  width:53px;
  height:30px;
  color:#0099FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1031px;
  top:12px;
  width:20px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1054px;
  top:12px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1139px;
  top:12px;
  width:31px;
  height:16px;
  color:#0099FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1160px;
  top:0px;
  width:15px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:141px;
  width:250px;
  height:589px;
  color:#CCCCCC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:589px;
}
#u23 {
  position:absolute;
  left:2px;
  top:286px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:63px;
  top:186px;
  width:16px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:63px;
  top:221px;
  width:16px;
  height:25px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:63px;
  top:252px;
  width:16px;
  height:25px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:63px;
  top:287px;
  width:16px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:141px;
  width:250px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:96px;
  top:191px;
  width:79px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:96px;
  top:226px;
  width:105px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:96px;
  top:257px;
  width:79px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:96px;
  top:292px;
  width:105px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:10px;
  top:89px;
  width:1280px;
  height:40px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:109px;
  top:98px;
  width:22px;
  height:22px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:131px;
  top:98px;
  width:256px;
  height:22px;
  font-size:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:4px;
  width:256px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:98px;
  width:93px;
  height:22px;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u49 {
  position:absolute;
  left:0px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:270px;
  top:141px;
  width:1020px;
  height:750px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:750px;
}
#u52 {
  position:absolute;
  left:2px;
  top:367px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:522px;
  top:171px;
  width:150px;
  height:10px;
  color:#009DD9;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:10px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-3px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:592px;
  top:163px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:669px;
  top:171px;
  width:150px;
  height:10px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:10px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-3px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:739px;
  top:163px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:818px;
  top:171px;
  width:150px;
  height:10px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:10px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-3px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:888px;
  top:163px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:968px;
  top:171px;
  width:150px;
  height:10px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:10px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-3px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1038px;
  top:165px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:571px;
  top:198px;
  width:53px;
  height:16px;
  color:#009DD9;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:442px;
  top:164px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:270px;
  top:229px;
  width:1020px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:1016px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:484px;
  top:345px;
  width:99px;
  height:25px;
  font-size:14px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
}
#u76 {
  position:absolute;
  left:0px;
  top:4px;
  width:99px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:592px;
  top:345px;
  width:499px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77_input {
  font-family:'应用字体';
}
#u78 {
  position:absolute;
  left:1106px;
  top:345px;
  width:6px;
  height:25px;
  color:#FF0000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:25px;
}
#u79 {
  position:absolute;
  left:0px;
  top:4px;
  width:6px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:442px;
  top:393px;
  width:141px;
  height:25px;
  font-size:14px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
}
#u81 {
  position:absolute;
  left:0px;
  top:4px;
  width:141px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:592px;
  top:438px;
  width:499px;
  height:100px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u82_input {
  font-family:'应用字体';
}
#u83 {
  position:absolute;
  left:1107px;
  top:471px;
  width:6px;
  height:25px;
  color:#FF0000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:25px;
}
#u84 {
  position:absolute;
  left:0px;
  top:4px;
  width:6px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:595px;
  top:393px;
  width:150px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u85_input {
  font-family:'应用字体';
}
#u85_input:disabled {
  color:grayText;
}
#u86 {
  position:absolute;
  left:769px;
  top:393px;
  width:150px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u86_input {
  font-family:'应用字体';
}
#u86_input:disabled {
  color:grayText;
}
#u87 {
  position:absolute;
  left:941px;
  top:393px;
  width:150px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u87_input {
  font-family:'应用字体';
}
#u87_input:disabled {
  color:grayText;
}
#u88 {
  position:absolute;
  left:1101px;
  top:393px;
  width:25px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:504px;
  top:475px;
  width:79px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:485px;
  top:565px;
  width:98px;
  height:146px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:146px;
}
#u93 {
  position:absolute;
  left:0px;
  top:46px;
  width:98px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:593px;
  top:565px;
  width:499px;
  height:146px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:146px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94_input {
  font-family:'应用字体';
}
#u95 {
  position:absolute;
  left:483px;
  top:741px;
  width:100px;
  height:25px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u96 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:593px;
  top:741px;
  width:226px;
  height:25px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u97_input {
  font-family:'应用字体';
}
#u98 {
  position:absolute;
  left:830px;
  top:743px;
  width:261px;
  height:25px;
  color:#FF0000;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:25px;
}
#u99 {
  position:absolute;
  left:0px;
  top:4px;
  width:261px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:593px;
  top:821px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:991px;
  top:821px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:794px;
  top:821px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:296px;
  top:271px;
  width:949px;
  height:52px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:52px;
}
#u107 {
  position:absolute;
  left:2px;
  top:18px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:483px;
  top:285px;
  width:66px;
  height:16px;
  color:#009DD9;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:559px;
  top:285px;
  width:118px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:727px;
  top:285px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:829px;
  top:285px;
  width:92px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:971px;
  top:285px;
  width:79px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:717px;
  top:198px;
  width:53px;
  height:16px;
  color:#666666;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:879px;
  top:198px;
  width:27px;
  height:16px;
  color:#666666;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:1029px;
  top:198px;
  width:27px;
  height:16px;
  color:#666666;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:504px;
  top:501px;
  width:66px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:10px;
  top:901px;
  width:1280px;
  height:177px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:177px;
}
#u128 {
  position:absolute;
  left:2px;
  top:80px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:129px;
  top:938px;
  width:103px;
  height:24px;
  font-size:20px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:263px;
  top:932px;
  width:144px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:473px;
  top:932px;
  width:118px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:263px;
  top:958px;
  width:79px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:478px;
  top:959px;
  width:66px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:648px;
  top:932px;
  width:92px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:648px;
  top:958px;
  width:92px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:124px;
  top:984px;
  width:1012px;
  height:10px;
}
#u143_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_end {
  position:absolute;
  left:995px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1012px;
  height:1px;
}
#u144 {
  position:absolute;
  left:402px;
  top:1004px;
  width:456px;
  height:34px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:34px;
}
#u145 {
  position:absolute;
  left:0px;
  top:9px;
  width:456px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:464px;
  top:1033px;
  width:1146px;
  height:34px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:34px;
}
#u147 {
  position:absolute;
  left:0px;
  top:9px;
  width:1146px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:10px;
  top:1078px;
  width:1600px;
  height:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:20px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
