body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:529px;
  height:383px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:383px;
}
#u1 {
  position:absolute;
  left:2px;
  top:184px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:37px;
  width:40px;
  height:25px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:97px;
  top:37px;
  width:412px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4_input {
  font-family:'应用字体';
}
#u5 {
  position:absolute;
  left:31px;
  top:80px;
  width:66px;
  height:25px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:97px;
  top:80px;
  width:412px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7_input {
  font-family:'应用字体';
}
#u8 {
  position:absolute;
  left:57px;
  top:122px;
  width:40px;
  height:100px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:100px;
}
#u9 {
  position:absolute;
  left:0px;
  top:42px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:97px;
  top:122px;
  width:412px;
  height:100px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10_input {
  font-family:'应用字体';
}
#u11 {
  position:absolute;
  left:57px;
  top:241px;
  width:40px;
  height:25px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:97px;
  top:244px;
  width:200px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input {
  font-family:'应用字体';
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:31px;
  top:276px;
  width:66px;
  height:25px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:97px;
  top:276px;
  width:412px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16_input {
  font-family:'应用字体';
}
#u17 {
  position:absolute;
  left:187px;
  top:347px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:309px;
  top:347px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:31px;
  top:311px;
  width:66px;
  height:25px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:97px;
  top:311px;
  width:200px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input {
  font-family:'应用字体';
}
#u23_input:disabled {
  color:grayText;
}
