body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:1280px;
  height:130px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:130px;
}
#u2 {
  position:absolute;
  left:2px;
  top:57px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:32px;
  width:130px;
  height:88px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:88px;
}
#u4 {
  position:absolute;
  left:2px;
  top:36px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:160px;
  top:58px;
  width:129px;
  height:37px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1117px;
  top:20px;
  width:60px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1209px;
  top:20px;
  width:60px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:139px;
  width:1280px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:139px;
  width:300px;
  height:30px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:102px;
  top:0px;
  width:98px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1091px;
  top:22px;
  width:26px;
  height:26px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u28 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1140px;
  top:96px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1000px;
  top:24px;
  width:53px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1216px;
  top:146px;
  width:53px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:12px;
  top:172px;
  width:72px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u36 {
  position:absolute;
  left:0px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:11px;
  top:199px;
  width:1279px;
  height:51px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:51px;
}
#u38 {
  position:absolute;
  left:2px;
  top:18px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:28px;
  top:216px;
  width:40px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:68px;
  top:212px;
  width:162px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41_input {
  font-family:'应用字体';
}
#u42 {
  position:absolute;
  left:231px;
  top:212px;
  width:27px;
  height:24px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1095px;
  top:220px;
  width:39px;
  height:16px;
  color:#009DDA;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1144px;
  top:216px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1167px;
  top:220px;
  width:39px;
  height:16px;
  color:#009DDA;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1208px;
  top:218px;
  width:20px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1234px;
  top:220px;
  width:39px;
  height:16px;
  color:#009DDA;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1070px;
  top:218px;
  width:20px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:11px;
  top:260px;
  width:939px;
  height:1900px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:1900px;
}
#u57 {
  position:absolute;
  left:2px;
  top:942px;
  width:935px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:964px;
  top:260px;
  width:326px;
  height:680px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:680px;
}
#u59 {
  position:absolute;
  left:2px;
  top:332px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:270px;
  top:280px;
  width:319px;
  height:24px;
  font-size:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:24px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:599px;
  top:285px;
  width:60px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:24px;
  top:320px;
  width:912px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:895px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:4px;
  width:912px;
  height:2px;
}
#u65 {
  position:absolute;
  left:68px;
  top:345px;
  width:204px;
  height:25px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
}
#u66 {
  position:absolute;
  left:0px;
  top:4px;
  width:204px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:510px;
  top:345px;
  width:210px;
  height:25px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u68 {
  position:absolute;
  left:0px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:68px;
  top:380px;
  width:204px;
  height:25px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
}
#u70 {
  position:absolute;
  left:0px;
  top:4px;
  width:204px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:510px;
  top:380px;
  width:210px;
  height:25px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u72 {
  position:absolute;
  left:0px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:38px;
  top:440px;
  width:891px;
  height:1640px;
  line-height:24px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:1640px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:25px;
  top:415px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:23px;
  top:434px;
  width:913px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:896px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:913px;
  height:1px;
}
#u78 {
  position:absolute;
  left:972px;
  top:320px;
  width:310px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:4px;
  width:310px;
  height:2px;
}
#u79 {
  position:absolute;
  left:974px;
  top:281px;
  width:165px;
  height:24px;
  font-size:20px;
  color:#009DDA;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:993px;
  top:364px;
  width:53px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u82 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:1008px;
  top:395px;
  width:282px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:0px;
  top:7px;
  width:282px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:976px;
  top:342px;
  width:15px;
  height:23px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:994px;
  top:406px;
  width:5px;
  height:5px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:995px;
  top:454px;
  width:53px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u90 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1008px;
  top:484px;
  width:282px;
  height:30px;
  line-height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:0px;
  top:-5px;
  width:282px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:980px;
  top:464px;
  width:8px;
  height:8px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1008px;
  top:425px;
  width:282px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
}
#u96 {
  position:absolute;
  left:0px;
  top:7px;
  width:282px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:994px;
  top:436px;
  width:5px;
  height:5px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:995px;
  top:340px;
  width:92px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u100 {
  position:absolute;
  left:0px;
  top:7px;
  width:92px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:980px;
  top:375px;
  width:8px;
  height:8px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u102 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:994px;
  top:488px;
  width:5px;
  height:5px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:980px;
  top:532px;
  width:15px;
  height:23px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:999px;
  top:530px;
  width:92px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u108 {
  position:absolute;
  left:0px;
  top:7px;
  width:92px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:1008px;
  top:555px;
  width:282px;
  height:30px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u110 {
  position:absolute;
  left:0px;
  top:7px;
  width:282px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:994px;
  top:567px;
  width:5px;
  height:5px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1008px;
  top:585px;
  width:282px;
  height:30px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u114 {
  position:absolute;
  left:0px;
  top:7px;
  width:282px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:994px;
  top:597px;
  width:5px;
  height:5px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:11px;
  top:2170px;
  width:1279px;
  height:50px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:50px;
}
#u119 {
  position:absolute;
  left:2px;
  top:17px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:551px;
  top:2184px;
  width:110px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:671px;
  top:2184px;
  width:60px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1212px;
  top:894px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:12px;
  top:2109px;
  width:937px;
  height:50px;
  overflow:hidden;
}
#u126_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u126_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:50px;
  opacity:0.800000011920929;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009DDA;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:50px;
}
#u128 {
  position:absolute;
  left:2px;
  top:17px;
  width:936px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:28px;
  top:287px;
  width:40px;
  height:16px;
  color:#009DDA;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:68px;
  top:284px;
  width:52px;
  height:22px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u131_input {
  font-family:'应用字体';
}
#u131_input:disabled {
  color:grayText;
}
