body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:59px;
  width:520px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:520px;
  height:50px;
  text-align:left;
  line-height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:516px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:10px;
  width:5px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:86px;
  width:260px;
  height:373px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:373px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6_input {
  font-family:'应用字体';
}
#u7 {
  position:absolute;
  left:270px;
  top:86px;
  width:260px;
  height:374px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:374px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7_input {
  font-family:'应用字体';
}
#u8 {
  position:absolute;
  left:17px;
  top:66px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:274px;
  top:66px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:29px;
  top:475px;
  width:158px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12_input {
  font-family:'应用字体';
}
#u13 {
  position:absolute;
  left:160px;
  top:459px;
  width:27px;
  height:13px;
  color:#009DDA;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:445px;
  top:470px;
  width:65px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:86px;
  width:260px;
  height:373px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:373px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17_input {
  font-family:'应用字体';
}
#u18 {
  position:absolute;
  left:30px;
  top:93px;
  width:180px;
  height:38px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u19 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:187px;
  width:180px;
  height:38px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u21 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:140px;
  width:180px;
  height:38px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u23 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:93px;
  width:180px;
  height:38px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:30px;
  top:140px;
  width:180px;
  height:38px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u27 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:30px;
  top:187px;
  width:180px;
  height:38px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u29 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:235px;
  width:180px;
  height:38px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u31 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:198px;
  top:87px;
  width:20px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:198px;
  top:132px;
  width:20px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:198px;
  top:178px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:198px;
  top:227px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:33px;
  top:435px;
  width:66px;
  height:16px;
  text-decoration:underline;
  color:#009DDA;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:130px;
  top:435px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#009DDA;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
