body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1020px;
  height:470px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:470px;
}
#u1 {
  position:absolute;
  left:2px;
  top:227px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:20px;
  width:60px;
  height:25px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:45px;
  width:980px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:980px;
  height:1px;
}
#u5 {
  position:absolute;
  left:30px;
  top:45px;
  width:90px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  height:3px;
}
#u6 {
  position:absolute;
  left:130px;
  top:20px;
  width:60px;
  height:25px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:220px;
  top:20px;
  width:60px;
  height:25px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:821px;
  top:420px;
  width:75px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:70px;
  width:980px;
  height:200px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:200px;
}
#u13 {
  position:absolute;
  left:2px;
  top:92px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:206px;
  top:84px;
  width:87px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u15 {
  position:absolute;
  left:0px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:293px;
  top:84px;
  width:603px;
  height:35px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:599px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:206px;
  top:129px;
  width:87px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u19 {
  position:absolute;
  left:0px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:293px;
  top:129px;
  width:603px;
  height:35px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:599px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:206px;
  top:177px;
  width:87px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u23 {
  position:absolute;
  left:0px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:293px;
  top:177px;
  width:603px;
  height:35px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:599px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:206px;
  top:222px;
  width:87px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u27 {
  position:absolute;
  left:0px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:293px;
  top:222px;
  width:603px;
  height:35px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:599px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:70px;
  width:80px;
  height:200px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:200px;
}
#u31 {
  position:absolute;
  left:2px;
  top:62px;
  width:76px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:290px;
  width:95px;
  height:35px;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u33 {
  position:absolute;
  left:0px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:133px;
  top:290px;
  width:260px;
  height:35px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34_input {
  font-family:'应用字体';
}
#u35 {
  position:absolute;
  left:446px;
  top:290px;
  width:95px;
  height:35px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u36 {
  position:absolute;
  left:0px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:549px;
  top:290px;
  width:260px;
  height:35px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37_input {
  font-family:'应用字体';
}
#u38 {
  position:absolute;
  left:830px;
  top:298px;
  width:60px;
  height:16px;
  color:#0099FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:340px;
  width:115px;
  height:35px;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
}
#u41 {
  position:absolute;
  left:0px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:133px;
  top:340px;
  width:260px;
  height:35px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42_input {
  font-family:'应用字体';
}
#u43 {
  position:absolute;
  left:426px;
  top:340px;
  width:115px;
  height:35px;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
}
#u44 {
  position:absolute;
  left:0px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:549px;
  top:340px;
  width:260px;
  height:35px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45_input {
  font-family:'应用字体';
}
