body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:1280px;
  height:130px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:130px;
}
#u2 {
  position:absolute;
  left:2px;
  top:57px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:32px;
  width:130px;
  height:88px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:88px;
}
#u4 {
  position:absolute;
  left:2px;
  top:36px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:160px;
  top:58px;
  width:129px;
  height:37px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1117px;
  top:20px;
  width:60px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1209px;
  top:20px;
  width:60px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:139px;
  width:1280px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:139px;
  width:300px;
  height:30px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:102px;
  top:0px;
  width:98px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1091px;
  top:22px;
  width:26px;
  height:26px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u28 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1140px;
  top:96px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1000px;
  top:24px;
  width:53px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:0px;
  top:7px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1216px;
  top:146px;
  width:53px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:10px;
  top:179px;
  width:250px;
  height:641px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:641px;
}
#u36 {
  position:absolute;
  left:2px;
  top:312px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:179px;
  width:250px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:10px;
  top:179px;
  width:5px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:49px;
  top:223px;
  width:10px;
  height:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:69px;
  top:220px;
  width:79px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:49px;
  top:249px;
  width:10px;
  height:10px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:69px;
  top:246px;
  width:79px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:270px;
  top:180px;
  width:1020px;
  height:640px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:640px;
}
#u50 {
  position:absolute;
  left:2px;
  top:312px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:270px;
  top:179px;
  width:1020px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:1016px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:270px;
  top:245px;
  width:1019px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:1002px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1019px;
  height:1px;
}
#u54 {
  position:absolute;
  left:274px;
  top:226px;
  width:60px;
  height:16px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56 {
  position:absolute;
  left:330px;
  top:221px;
  width:85px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:759px;
  top:209px;
  width:90px;
  height:41px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:900px;
  top:224px;
  width:39px;
  height:16px;
  color:#009DDA;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:949px;
  top:220px;
  width:20px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:972px;
  top:224px;
  width:39px;
  height:16px;
  color:#009DDA;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1013px;
  top:222px;
  width:20px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1039px;
  top:224px;
  width:39px;
  height:16px;
  color:#009DDA;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1090px;
  top:209px;
  width:90px;
  height:41px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1188px;
  top:221px;
  width:101px;
  height:22px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u72_input {
  font-family:'应用字体';
}
#u72_input:disabled {
  color:grayText;
}
#u73 {
  position:absolute;
  left:875px;
  top:222px;
  width:20px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1151px;
  top:224px;
  width:10px;
  height:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:274px;
  top:267px;
  width:20px;
  height:16px;
}
#u78 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u79 {
  position:absolute;
  left:298px;
  top:260px;
  width:244px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009DDA;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:0px;
  top:7px;
  width:244px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:542px;
  top:264px;
  width:88px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:640px;
  top:264px;
  width:88px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:738px;
  top:264px;
  width:88px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:298px;
  top:295px;
  width:204px;
  height:25px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
}
#u88 {
  position:absolute;
  left:0px;
  top:4px;
  width:204px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:504px;
  top:295px;
  width:210px;
  height:25px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u90 {
  position:absolute;
  left:0px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:704px;
  top:295px;
  width:100px;
  height:25px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u92 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:270px;
  top:320px;
  width:1019px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:1002px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1019px;
  height:1px;
}
#u94 {
  position:absolute;
  left:599px;
  top:217px;
  width:122px;
  height:25px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94_input {
  font-family:'应用字体';
}
#u95 {
  position:absolute;
  left:721px;
  top:216px;
  width:27px;
  height:28px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:10px;
  top:830px;
  width:1279px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:550px;
  top:844px;
  width:110px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:670px;
  top:844px;
  width:60px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
